.player-list-main-container {
  width: 300px;
  max-height: 700px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}
.player-card {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}
.players-turn {
  background: white;
}
