.player-list-main-container {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  border: solid white 1px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 700px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}
.bordered-bottom {
  border-bottom: dotted white 5px;
}
.player-card {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}
.blink-animation {
  animation: blink-white 0.3s ease;
  animation-iteration-count: 1;
}
@keyframes blink-white {
  0%,
  100% {
    transform: scaleX(1.1);
    background: transparent;
  }
  50% {
    background: rgba(255, 255, 255, 0.404);
  }
}
.player-first-place {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
