.color-option {
  width: 50px;
  height: 50px;
  border: solid black 2px;
  transition: 0.1s ease;
  cursor: pointer;
}
.color-option:hover {
  filter: brightness(150%);
  border: solid white 1px;
  transform: scale(1.05);
}
.color-options-container {
  width: fit-content;
  gap: 10px;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
