.color-option {
  width: 20px;
  height: 20px;
  border: solid black 1px;
  transition: 0.1s ease;
  cursor: pointer;
}
.color-option:hover {
  /* filter: brightness(105%); */
  border: solid white 1px;
  transform: scale(1.05);
}
.color-options-container {
  padding: 10px;
  width: fit-content;
  gap: 1px;

  height: fit-content;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.pen-width-button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: beige;
  border: solid black 1px;
}
