@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
canvas {
  border: solid black 1px;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
canvas:hover {
  cursor: none;
}
.app-main-container {
  background-color: #8a2be2;
  background-image: radial-gradient(circle, #962be2 15%, transparent 16%),
    radial-gradient(circle, #962be2 15%, transparent 16%);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;

  height: 100vh;
  display: flex;
  justify-content: center;
}
.revealing-word {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.revealing-word h1 {
  margin: 2px;
  color: white;
  font-size: 30px;
  font-weight: 300;
}
